:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100vh;
  padding: 12px;
}

.header {
  padding: 6px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.panel {
  margin-left: 72px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.cursor { 
  font: 400 24px/32px 'Roboto', sans-serif;
  font-weight: bold;
}

svg {
  display: block;
  width: 100%;
  margin: 0;
  box-sizing: content-box;
  flex-grow: 1;
}