<div class="header">
  <div class="panel">
    <button (click)="load()">Reload</button>
    <button (click)="drop()">Restart</button>
    <button (click)="calc()">Optimize</button>
    <button (click)="save()">Commit</button>
  </div>
  <span class="cursor"> Ocupação do Pier em {{ now | date:'dd/MM/yy HH:mm' }} </span>
</div>
<svg id="canvas">
  <defs>
    <style>
.hollow {
  fill: none;
}
      
.cursor {
  opacity: 0.5;
  stroke: red;
  stroke-width: 20px;
}

.hull {
  fill: green;
  opacity: 0.5;
  stroke: black;
  stroke-width: 5px;
}

.boll circle { 
  fill: none;
  stroke: black;
  stroke-width: 5px;
}


.stay {
  fill: darkblue;
  stroke: black;
  stroke-width: 1px;
}

.stay.current {
  fill: darkgreen;

}

.stay > rect {
  opacity: 0.5;
}
      
      
/* Dragging state */
.dragging {
  fill: lightgreen;
  stroke: darkgreen;
  stroke-width: 2px;
}
      
/* Selected state */
.selected {
  fill: yellow;
  stroke: orange;
  stroke-width: 2px;
}
      
/* Changed state */
.touched {
  stroke: darkred;
  stroke-width: 5px;
}
      
/* Fixed state */
.stay.fixed {
  fill: gray;
  stroke: darkgray;
  stroke-width: 2px;
  cursor: not-allowed;
}
      
/* Overlap state (attention) */
.stay.overlap {
  fill: red;
  stroke: darkred;
  stroke-width: 2px;
}


.etd {
  stroke: black;
  stroke-width: 0.5;
  fill: white;
  font-family: sans-serif;
}

.sizing {
  fill: green
}

.label {
  font-family: sans-serif;
}

.stay .label {
  stroke: black;
  stroke-width: 0.5;
  fill: white;
}

.ship .label {
  fill: black;
  stroke: white;
  stroke-width: 0.5;
}

.axis {
  font-size: 18px;
}

.y.grid { 
  stroke: lightgrey;
  stroke-dasharray: 5,5;
}

.x.grid { 
  stroke: lightgrey;
  stroke-dasharray: 1,1;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
}
    </style>
  </defs>
</svg>
