/* You can add global styles to this file, and also import other style files */
:root {
    --line-color: firebrick;
    
    --ship-color: darkgreen;
    --ship-color-alpha: #00640080;
    --ship-color-text: darkslategray;


    --stay-color: navy;
    --stay-color-alpha: #00008080;
    --stay-color-text: seashell;
    --stay-color-changed-text: yellow;

    --selected-color:maroon ;
    --selected-color-alpha: #80000080;
    --selected-color-text:maroon;
    
    
    --border-width: 5px;
}

/* ************************** */
/* ************************** */
text  {
    font-family: sans-serif;
    stroke: none;
    fill: black;
}


.timeline {
    opacity: 0.5;
    stroke: var(--line-color);
    stroke-width: 20px;
}


.boll circle {
    fill: none;
    stroke: black;
    stroke-width: var(--border-width);
}

/* Axis */
.axis {
    font-size: 18px;
}

.y.grid {
    opacity: 0.5;
    stroke: lightgrey;
    stroke-dasharray: 5, 5;
}

/* State */
.deleted {
    display: none;
}

.hollow {
    fill: none;
}

/* Dragging state */
.dragging  {
    rect, path {
        stroke-width: var(--border-width);
        stroke-dasharray: calc(var(--border-width) * 2) calc(var(--border-width) * 2);
        cursor: move;
    }
}

.stretching {
    rect {
        cursor: ns-resize;
    }
}

/* Elements */
.ship {
    path {
        fill: var(--ship-color-alpha);
        stroke: var(--ship-color);
        stroke-width: var(--border-width);
    }

    text {
        fill: var(--ship-color-text);
        font-size: larger;
        text-anchor: middle;
        alignment-baseline: middle;
        filter: drop-shadow(0px 0px 10px #000000);
    }
}

.ship.overlap {
    path {
        stroke: darkred;
    }
}

.stay { 
    rect {
        fill: var(--stay-color-alpha);
        stroke: var(--stay-color);
        stroke-width: var(--border-width);
    }

    circle {
        fill: var(--stay-color);
        cursor: ns-resize;
    }

    text {
        fill: var(--stay-color-text);
        filter: drop-shadow(3px 3px 10px #000000);
    }
}

/* Selected state */
.stay.selected {
    rect {
        fill: var(--selected-color-alpha);
        stroke: var(--selected-color);
    }

    circle {
        fill: var(--selected-color);
    }

    text {
        fill: var(--selected-color-text);
    }
}

.stay.touched {
    .label text {
        fill: var(--stay-color-changed-text);
        font-weight: bold;
    }
} 
/* Overlapping state */
.stay.overlap {
    rect, circle {
        stroke: darkred !important;
        fill: coral !important;
    }
}


/* Timing State */
.past rect,
.past circle {
    filter: brightness(0.5);
    filter: saturate(0.5);
}

.future rect {
    filter: brightness(2.5);
    filter: saturate(2.5);
}





